/DynaSoft/target/
/DynaSoft/nbproject/private/
/DynaSoft/dist/
/DynaSoft/build/
/DynaSoft-1/target/
/ScriptsDatabase/REP_FACTURACION.sql
/DynaSoft/src/java/com/cfscr/dynasoft/connection/ConexionERP.java
